<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Current Weather</title>
    <header th:insert="fragments/general.html :: head"></header>
</head>
<body>

<header th:insert="fragments/general.html :: navigation"> </header>

<div class="container-fluid">
    <div class="card m-5">
        <div class="card-header p-2" th:text="${data.getName()}">Current Weather</div>
        <div class="card-body p-2">
            <div th:text="'Latitude: ' + ${data.getCoord().getLat()}">Latitude</div>
            <div th:text="'Longitude: ' + ${data.getCoord().getLon()}">Longitude</div>
            <div th:text="'Temperature: ' + ${data.getCoord().getLon()} + '  &deg;C'">Temperature</div>
            <div th:text="'Description: ' + ${data.getWeather().get(0).getMain()}">Description</div>
            <div th:text="'Wind Speed: ' + ${data.getWind().getSpeed()}">Wind Speed</div>
            <div th:text="'Wind Direction: ' + ${data.getWind().getDeg()} + ' &deg;'">Wind  Direction</div>
        </div>
    </div>
</div>

</body>
</html>